@font-face {
  font-family: Custom;
  src: url("editundo.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  font-family: sans-serif;
  color: #fff;
}

h1 {
  margin: 0;
  padding: 8px 0 8px 0;
  font-family: Custom;
  line-height: 60px;
  font-size: 60px;
  text-shadow: 0.07em 0.07em #444;
}

div.wrapper {
  position: relative;
  width:100%;
  height:100vh;
}

div.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

div.container {
  padding: 0;
  margin: auto;
  max-width: 500px;
  min-width: 300px;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
}

div.corner {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  text-align: center;
}

div.corner > i {
  line-height: 50px;
  margin: auto 0;
  padding: 0;
  text-shadow: 0.07em 0.07em #444;
  font-size: 2em;
}

div.corner > i:active {
  color: #222;
}

canvas {
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 4px 0 0 #444;
}

div.tool {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 0 10px;
  height: 60px;
  background-color: #888;
  border-radius: 6px;
  box-shadow: 4px 4px 0 0 #444;
}

div.tool-button {
  background-color: #222;
  color: #fff;
  width: 120px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  text-align: center;
  height: 50px;
  border-radius: 6px;
}

div.tool-button:active{
  background-color: #eee;
  color: #222;
}

div.tool-button > i {
  line-height: 50px;
  margin: auto 0;
  padding: 0;
  text-shadow: 0.07em 0.07em #444;
  font-size: 2em;
}

div.tool-button > input {
  margin: 10px 0;
  width: 60%;
  height: 25px;
  padding: 0;
  box-shadow: 3px 3px 0 0 #444;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 20px;
  border-radius: 8px;
  background: #eee;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  top: 50%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #222;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #aaa;
  cursor: pointer;
}
