@font-face {
  font-family: Cartoonish;
  src: url(Cartoonish.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  font-family: Cartoonish, sans-serif;
  color: #fff;
}

h1 {
  margin: 0;
  padding: 0.5em 0em 0.25em 0em;
  font-size: 3.5em;
  text-shadow: 0.07em 0.07em #444;
}

div.wrapper {
  position: relative;
  width:100%;
  height:100vh;
}

div.container {
  padding: 0;
  margin: auto;
  max-width: 500px;
  min-width: 300px;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
}

canvas {
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 4px 0 0 #444;
}

div.tool {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 0 10px;
  height: 60px;
  background-color: #888;
  border-radius: 6px;
  box-shadow: 4px 4px 0 0 #444;
}

div.tool-button {
  background-color: #222;
  color: #fff;
  width: 120px;
  padding: 0;
  margin: 5px 5px 5px 5px;
  text-align: center;
  height: 50px;
  font-size: 30px;
  border-radius: 6px;
}

div.tool-button:active{
  background-color: #eee;
  color: #222;
}

div.tool-button > i {
  line-height: 50px;
  margin: auto 0;
  padding: 0;
  text-shadow: 0.07em 0.07em #444;
  font-size: 1em;
}
